<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="URL" value="http://172.20.42.160:3002/api/xdocs"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    <pages validateRequest="false" enableEventValidation="false"/>
    <httpRuntime requestValidationMode="2.0" />
    </system.web>
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WorkflowEngineSOASoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WorkflowEngineSOASoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://172.17.40.93/Procesos/webservices/workflowenginesoa.asmx"
                binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap"
                contract="BizagiCapaSOA.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap" />
          
        </client>
    </system.serviceModel>
</configuration>
